@import "partial";
body {
  background-color: $primary-color;
  font-family: "Skranji", cursive;
}

.hero {
  height: 100vh;
}
.hero-title h1 {
  font-size: 3.5rem;
}
.get-another-quote-button,
.anchor-button,
.get-quote-button {
  border-radius: 2.25rem;
  font-size: 1.5rem;
  padding: 1rem;
  color: $secondary-color;
  background-color: $fourth-color;
  border: none;
  text-decoration: none;
  list-style: none;
  &:hover {
    color: $fourth-color;
    background-color: $secondary-color;
  }
  &:active {
    color: $secondary-color;
    background-color: $fourth-color;
  }
}

.highlighted-background {
  background-color: $tertiary-color;
}
.quote-section {
  height: 80vh;
}
.quote-div {
  height: 50vh;
}
.quote-words {
  color: #00473e;
  font-size: 4rem;
}
